@import url('https://fonts.googleapis.com/css2?family=Baumans&display=swap');

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(45deg, #ff9a9e, #fad0c4, #fbc2eb, #a6c1ee);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
}

.calculadora{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #40376E;
    text-align: center;
    min-height: 350px;
    max-width: 300px;
    border: 2px solid #40376E;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
    gap: 20px;
}

.visor{
    height: 40px;
    width: 90%;
    padding: 5px;
    border: 0.1px solid black;
    border-radius: 6px;
    text-align: right;
    margin-top: 30px;
    font-family: "Baumans", system-ui;
    font-size: 15px;
    color: black;
    background-color: #F8F8F8;
}

.botoes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    padding: 5px;
    
}

button{
    font-family: "Baumans", system-ui;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    font-size: large;
    background-color: #D4E4BC;
    cursor: pointer;
}

button:hover {
    background-color: #8ce605;
    color: black;

}

button:active{
    background-color: #466e09;
    color: white;
    
}

.calcular{
    background-color: #b4dd77;
}

@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
